.main {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__item {
        margin: 0.5em;
    }

    @media screen and (min-width: 576px) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }
}