.card {
    width: 100%;
    min-height: 470px;
    box-shadow: 0 1px 2.5px 0 rgba(30,35,90,0.4);
    border-radius: 0.3em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    transition: box-shadow 0.2s linear;

    &:hover {
        box-shadow: 0 1px 10px rgba(30,35,90,0.4);
    } 

    &__image-container {
        position: relative;
        width: 100%;
        height: 200px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
        display: block;
        max-height: 200px;
        transition: transform 0.2s linear;
    }

    &__title {
        padding: 0 1rem;
        margin: 1rem 0 0;
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
    }

    &__content {
        z-index: 1;
        margin-bottom: auto;
    }

    &__description {
        padding: 0 1rem;
        margin: 1rem 0 0;
        color: rgb(92, 99, 112);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
    }

    &__category-item {
        font-size: 1rem;
        font-weight: bold;
        text-transform: lowercase;
        padding: 0.3em 1em;
        background-color: rgb(227, 227, 231);
        color: rgb(92, 99, 112);
        border-radius: 1.5em;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
        transition: background-color .1s linear;
        
        &:last-child {
            margin-right: 0;
        }
    }

    &__footer {
        width: 100%;
        padding: 0 1rem;
        margin: 0.5rem 0 1rem;
        transition: color 0.4s;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        display: block;
        margin-bottom: 0.2em;
        font-size: 1rem;
        font-family: inherit;
        background-color: rgb(77, 107, 147);
        border: none;
        color: #fff;
        text-transform: uppercase;
        outline: none;
        padding: 0.5em 1em;
        cursor: pointer;
        border-radius: 0.2em;
        transition: background-color 0.2s linear, color 0.2s linear;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: rgb(51, 71, 97);
        }
    }

    @media screen and (min-width: 768px) {
        max-width: 350px;

        &__title {
            text-align: left;
        }

        &__visual-filter {
            display: none;
        }
    }
}

.github-icon {
    color: rgb(77, 107, 147);
    transition: color 0.2s linear;

    &:hover {
        color: rgb(51, 71, 97);
    } 
}

.info-icon {
    color: rgb(77, 107, 147);
    transition: color 0.2s linear;
    cursor: pointer;

    &:hover {
        color: rgb(51, 71, 97);
    } 
}