@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card {
    width: 100%;
    overflow: hidden;
    box-shadow: 0 1px 2.5px 0 rgba(30,35,90,0.4);
    border-radius: 0.3em;

    &:hover .card__visual-filter {
        display: block;
    }

    &__image-container {
        position: relative;
        width: 100%;
        height: 200px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
        display: block;
        max-height: 200px;
        transition: transform 0.2s linear;
    }

    &__title {
        padding: 0 1rem;
        margin: 0.2rem 0 0;
        font-weight: 600;
        font-size: 1.5rem;
        text-align: center;
    }

    &__content {
        overflow: hidden;
        z-index: 1;
        margin-bottom: auto;
    }

    &__description {
        padding: 0 1rem;
        margin: 0.5rem 0 0;
        color: rgb(92, 99, 112);
        min-height: 125px;
    }

    &__footer {
        padding: 0 1rem;
        margin: 0.5rem 0 1rem;
        transition: color 0.4s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__button {
        display: block;
        width: 100%;
        margin-bottom: 0.2em;
        font-size: 1rem;
        font-family: inherit;
        background-color: rgb(77, 107, 147);
        border: none;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        outline: none;
        padding: 1em 1.5em;
        cursor: pointer;
        border-radius: 0.2em;
        transition: background-color 0.2s linear, color 0.2s linear;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: rgb(51, 71, 97);
        }
    }

    &__visual-filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        animation: fade-in 0.3s ease-in;
        z-index: 1;
        display: block;
    }

    @media screen and (min-width: 768px) {
        max-width: 350px;

        &__title {
            text-align: left;
        }

        &__visual-filter {
            display: none;
        }
    }
}

.label {
    margin-left: 0.5rem;
}

.link {
    width: 100%;
}