@import '../../variables';

.header {
    background-color: $background-lighter-clr-dark;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.3rem 0.5rem 0.7rem;
    }

    &__main-title {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    &__title {
        margin: 0;
        font-size: 2.5rem;
        font-weight: bold;
        -webkit-text-fill-color: transparent;
        background: $gradient-blue-background;
        background-clip: text;
        color: $primary-clr;
    }

    &__subtitle {
        margin: 0;
        color: #fff;
        font-weight: normal;
        font-size: 1.2rem;
    }

    &__icon {
        color: $primary-clr;
        transition: color 0.2s linear;

        :hover {
            color: $primary-dark-clr;
        } 
    }
}